.env

.venv

venv/

env/

__pycache__/

*.py[cod]

*$py.class

.idea/

.pytest_cache/
pytest-cache-files-*

.coverage
coverage.xml
coverage-reports/

htmlcov/

.DS_Store

Thumbs.db

logs/*.log

*.log

celerybeat-schedule*

celerybeat.pid
